node_modules
.pnp
.pnp.js
.pnpm-store
.logs/
__dev

.env
.env.local

coverage
test-results/
.turbo
.vercel
.next/
next-env.d.ts
.source/
out/
build
dist
bin

npm-debug.log*
.DS_Store
*.pem
*.tsbuildinfo
